[SddmGreeterTheme]
Name=LyargoOS
Description=LyargoOS login theme based on Breeze
Author=LyargoOS (based on KDE VDG Breeze)
Copyright=(c) 2024, LyargoOS; (c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/Meniny/LyargoOS-Artworks
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=lyargoos
Theme-API=2.0
QtVersion=6
